#home {
  background-color: #fff;
}
.ten {
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
}
.ten .ten-body {
  float: left;
  width: 50%;
  text-align: center;
}
.ten .ten-body .price {
  text-align: left;
  margin-left: 0.5em;
  color: red;
  font-size: 1.5em;
}
.ten .ten-body .title {
  text-align: left;
  margin-left: 0.5em;
}
